/* form{
    flex-shrink: 0;
    width: 90%;
    height: 100vh;
    margin: 50px auto ;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form-input{
    width: 50%;
    margin-top: 25px;
    display: flex;
    flex-flow: row;
    justify-content: center; 
    align-items: flex-start;   
}

.form label{
    text-align: center;
}

input{
    width: 40%;
    margin: 10px;
}

.form-input textarea{
    resize: none;
    width: 80%;
    height: 150px;
}

button.form-button{
    width: 100px;
    height: 40px;
    margin-top: 25px;
    padding: 5px;
    border-radius: 3px;
    background: #3e3e3e;
    color: #ffff;
    font-weight: 500;
    cursor: pointer;
}

button.form-button:hover{
    background: #fff;
    color: #000;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.contact-infos{
    width: 100%;
    margin: 15px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.contact-map{
    width: 100%;
    margin-bottom: 50px;
    border-radius: 5px;
}

 */
